@define-color gnome_bg #242424;
@define-color gnome_fg #ffffff;
@define-color gnome_button_bg #363636;
@define-color gnome_button_hover #525252;
@define-color gnome_button_active #215d9c;
@define-color gnome_red #c01c28;
@define-color gnome_green #26a269;
@define-color gnome_yellow #f8e45c;

window {
    background-color: transparent;
    font-family: "Cantarell", "Inter", sans-serif;
}

button {
    color: @gnome_fg;
    background-color: @gnome_button_bg;
    border-radius: 12px;
    border: none;
    margin: 10px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: @gnome_button_hover;
    outline: none;
    transform: scale(1.05);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-color: @gnome_red;
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#shutdown:hover {
    background-color: shade(@gnome_red, 1.2);
}

#reboot {
    background-color: @gnome_green;
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#reboot:hover {
    background-color: shade(@gnome_green, 1.2);
}
